*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url("amara\ pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}
.happy{
  display: flex;
  margin-bottom: 10px;
}
.birth{
  display: flex;
}
.day{
  display: flex;
}
.h{
  transform: skewX(-20deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(243, 113, 113);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a{
  transform: skewX(5deg);
  margin-top: 0px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(253, 183, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1{
  transform: skewX(-10deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(248, 248, 56);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2{
  transform: skewX(0deg);
  margin-top: 0px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 200, 209);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.y{
  transform: skewX(-20deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(182, 20, 20);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b{
  transform: skewX(20deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(250, 250, 98);
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.i{
  transform: skewX(-10deg);
  margin-top: -5px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(136, 17, 247);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r{
  transform: skewX(15deg);
  margin-top: 0px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(127, 202, 13);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t{
  transform: skewX(-20deg);
  margin-top: 0px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(175, 16, 175);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2{
  transform: skewX(-20deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgb(245, 125, 81);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d{
  transform: skewX(-20deg);
  margin-top: 10px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 60px;
  font-weight: 400;
  font-style: italic;
  color: rgb(245, 221, 221);
  font-family: "pacifico", cursive;
  text-shadow: 10px 10px 5px black;
}
.wishes{
  display: flex;
  flex-direction: column;
}
.wishes p{
  margin-left: auto;
  margin-right: auto;
  color: wheat;
  font-size: 20px;
  width: 300px;
  text-align: center;
  margin-top: 30px;
  align-items: center;
  display: none;
}
button{
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-block: 13px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 18px;
  color: white;
  background-color: rgb(42, 42, 230);
  text-transform: uppercase;

}

#closebtn{
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-block: 13px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 18px;
  color: white;
  background-color: rgb(42, 42, 230);
  text-transform: uppercase;
  display: none;
}